<h1>"Welcome Home <%= session[:username] %>!"</h1>


<button type="submit" onclick="location='/signout/?'">"Sign out!"</button><br><br>
<button type="button" name="button" onclick="location='https://www.facebook.com/profile.php?id=100011746685726'">Follow me on facebook!</button>
