<head>
  <title>nanoTwitter-Home</title>
</head>
<h1>"Welcome Home <%= session[:username] %>!"</h1>

  <% x="location='/#{session[:username]}/editProfile'"%>
  <% y="location='/#{session[:username]}/followers'"%>
  <% z="location='/#{session[:username]}/followings'"%>


<button type="submit" onclick= <%= x %>> edit profile</button><br><br>
<button type="submit" onclick= <%= y %>> followers </button><br><br>
<button type="submit" onclick= <%= z %>> followings </button><br><br>

<button type="submit" onclick="location='/signout/?'">"Sign out!"</button><br><br>
