<h1>"Welcome to nanoTitter"</h1>
<h2>"Come and register!"</h2>
<div>
    <form action="/signup" method="POST">
        Username:<input type="text" name="username" /><br>
        Password:<input type="text" name="password" value="Enter Password"/><br>
        <input type="submit" value="Sign Up Now!"/>
    </form>
</div>
<br>
<a href="/signin/?">"Already registered? Login here!"</a>
