<h1>"Welcome to nanoTitter"</h1>
<h2>"Come and register!"</h2>
<div>
    <form action="/signup" method="POST">
        Username:<input type="text" name="username"/><%= @errorString %><br>
        Password:<input type="text" name="password"/><br>
        <input type="submit" value="Sign Up Now!"/>
    </form>
</div>
<br>
<button type="submit" onclick="location='/signin/?'">"Already registered? Login here!"</button>
