<h4>"Welcome to nanoTitter"</h4>
<form action="/submit" method="POST">
	<input type="text" name="username" value="Enter User Name" />
  <input type="text" name="password" value="Enter Password" />
	<input type="submit" value="Submit" />
</form>
