<head>
  <title>nanoTwitter</title>
</head>
<div class="container">
<form class="form-signin" action="/signup" method="GET" role="form">
  <h1 class="form-signin-heading">Welcome to nanoTwitter</h1>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign Up Now!</button>
</form>
<br>
<button type="submit" class="btn btn-lg btn-primary btn-block" onclick="location='/signin/?'">"Already registered? Login here!"</button>

<h1>There will be non-login timeline below.</h1>

</div>
