<!DOCTYPE html>
<html>

  <head>
    <title>nanoTwitter</title>
  </head>

  <body>
    <div class="container theme-showcase" role="main">
      <h1>Recent tweets</h1>
      <% for i in (0+@n*10)..(9+@n*10) %>
        <% #if @all_tweets[i] == nil %>
        <% unless $redis.lindex 'nonlogin_timeline',i %>
          <% break %>
        <% end %>
          <% @tweet = JSON.parse($redis.lindex('nonlogin_timeline',i)) %>
          <% @i=i %>
          <%= erb :singleTweet %>
        <% end %>


        <% @link ="/?" %>
        <%= erb :control_pages%>

    </div>
  </body>
</html>
