<% redirect'/warnnonlogin' if session[:user_id].nil? %>

<div class="container theme-showcase" role="main">
    <h1>Notifications</h1>

    <%= control_bar session[:username] %>

    <div class="list-group container theme-showcase">
        <li class="list-group-item">
            <a href="#">All</a>
            <a href="#">Mentions</a>
            <a href="#" style="float:right">Settings</a>
        </li>
        <% @n+=1 if @n<0 %>
        <% for i in (0+@n*20)..(19+@n*20) %>
          <% if @responseArray[i] == nil %>
            <% break %>
          <% end %>
            <% @notification = @responseArray[i] %>
            <% @i=i %>
            <%= erb :singleNotification %>
          <% end %>

          <% @link ="/notification?" %>
          <%= erb :control_pages%>


    </div>

</div>
