<!DOCTYPE html>
<html>
  <head>
    <title>nanoTwitter-SearchTweet</title>
  </head>

  <body>
    <div class="container theme-showcase" role="main">

        <h1>Search Result of <%= @word %>!</h1>
        <% if @tweets.nil? %>
        <%= "No Result Found" %>
        <% else %>
        <% for i in 0..@tweets.size-1 %>
          <% @tweet = @tweets[i] %>
          <%= erb :singleTweet %>
        <% end %>
        <% end %>



    </div>
  </body>
</html>
