<head>

  <title>nanoTwitter-showProfile</title>
</head>

<body>
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="well well-sm">
                  <div class="row">
                      <div class="col-sm-6 col-md-4">
                          <img src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" alt="" class="img-rounded img-responsive" />
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <h2>
                              Username: 
                               <%= @user[:username] %> </h2>
                          <h4>
                              Nickname: <%= @user[:nickname]  %>  </h4>
                          <p>
                              <i class="glyphicon glyphicon-globe"></i>Description: <%= @user[:description] %>
                              <br />

                              <i class="glyphicon glyphicon-gift"></i>Birthday: <%= @user[:birthday] %></p>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


</body>
