<h2>Sign in now!</h2>
<div>
    <form action="/signin" method="POST">
        Username:<input type="text" name="username" value="Enter User Name"/><br>
        Password:<input type="text" name="password" value="Enter Password"/><br>
        <input type="submit" value="Submit"/>
    </form>
</div>
<br>
<a href="/">"Havn't registered? Sign up here!"</a>
