<h2>Sign in now!</h2>
<div>
    <form action="/signin" method="POST">
        Username:<input type="text" name="username" /><br>
        Password:<input type="text" name="password" /><br>
        <input type="submit" value="Submit"/>
    </form>
</div>
<br>
<a href="/">"Havn't registered? Sign up here!"</a>
