<!-- <h2>Sign in now!</h2>
<h4><%= @errorMessage %><br></h4>
<div>
    <form action="/signin" method="POST">
        Username:<input type="text" name="username"/><br>
        Password:<input type="text" name="password"/><br>
        <input type="submit" value="Submit"/>
    </form>
</div>
<br>
<button type="submit" onclick="location='/'">"Havn't registered? Sign up here!"</button> -->

<body data-gr-c-s-loaded="true">

    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>

</body>
