<a href="#" class="list-group-item list-group-item-action">
    <h5 class="list-group-item-heading"><%= @notification["notitype"] %></h5>
    <p class="list-group-item-text"><%= @notification["content"] %></p>
</a>
