<head>
  <title>nanoTwitter-status</title>
</head>
<h1>Status</h1>
<p>user size = <%= @user_size %></p>
<p>tweet size = <%= @tweet_size %></p>
<p>follows size = <%= @follows_size %></p>
<p>testuser id = <%= @testuser_id %></p>
