<!DOCTYPE html>
<html>
  <head>
    <title>user followers</title>
  </head>

  <body>
    <div class="container theme-showcase" role="main">

      <h1>"Follwers of <%= @user_name %>!"</h1>

      <%= control_bar %>


        <% for i in 0..@follower_number-1  %>
          <% unless @followers[i].nil? %>
          <% @Username = @followers[i][:username] %>
          <% @Nickname = @followers[i][:nickname] %>
          <% @birthday = @followers[i][:birthday] %>
          <% @description = @followers[i][:description] %>
          <% @follower_id = @followers[i][:id] %>
          <% @iffollow = iffollow(session[:id], @followers[i][:id]) %>
          <% if @iffollow %>
          <%   @status = "Following" %>
          <% else %>
          <%   @status = "Not following" %>
          <% end %>
          <%= erb :singleUser %>
        <% end %>
  <% end %>

    </div>
  </body>
</html>
