<!DOCTYPE html>
<html>
  <head>
		<title><%= @user_name %>'s Timeline</title>
  </head>

	<body>
    <div class="container theme-showcase" role="main">
      <% unless @user_tweets.size.zero? %>
      <% for i in (0+@n*20)..(19+@n*20) %>
        <% if @user_tweets[i] == nil %>
          <% break %>
        <% end %>
          <% @Nickname = @user_tweets[i][:nickname] %>
          <% @tweet_time = @user_tweets[i][:create_time] %>
          <% @tweet_user_name = @user_tweets[i][:username] %>
          <% @tweet_content = @user_tweets[i][:content] %>
          <% @tweet_id = @user_tweets[i][:id] %>
          <%= erb :singleTweet %>
        <% end %>
      <% end %>


      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="/?n=<%= @n-1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="/?n=0">1</a></li>
          <li><a href="/?n=1">2</a></li>
          <li><a href="/?n=2">3</a></li>
          <li><a href="/?n=3">4</a></li>
          <li><a href="/?n=4">5</a></li>
          <li>
            <a href="/?n=<%= @n+1 %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>







  </div>



  </body>
</html>
