<!DOCTYPE html>
<html>
  <head>
		<title><%= @user_name %>'s Timeline</title>
  </head>

	<body>
    <div class="container theme-showcase" role="main">
      <% unless @user_tweets.size.zero? %>
      <% maxNumber=[20,@user_tweets.size].max %>
        <% for i in 0...maxNumber %>
          <% @Nickname = @user_tweets[i][:nickname] %>
          <% @tweet_time = @user_tweets[i][:create_time] %>
          <% @tweet_user_name = @user_tweets[i][:username] %>
          <% @tweet_content = @user_tweets[i][:content] %>
          <%= erb :singleTweet %>
        <% end %>
      <% end %>


  </div>












  </body>
</html>
