<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> You are not logged in. Please log in first!
</div>
<button class="btn btn-lg btn-primary btn-block" onclick="location='/signup'">Havn't registered? Sign up here!</button>

<button type="submit" class="btn btn-lg btn-primary btn-block" onclick="location='/signin/?'">"Already registered? Login here!"</button>
