<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<button class="btn btn-lg btn-primary btn-block" onclick="location='/signup'">Havn't registered? Sign up here!</button>

<button type="submit" class="btn btn-lg btn-primary btn-block" onclick="location='/signin/?'">"Already registered? Login here!"</button>
